body {
    min-width: 200px;
    max-width: 250px;
    background-color: #4CAF50;
    color: #FFF; 
    font-family: Arial, sans-serif; 
}

h1 {
    font-size: 20px;
    text-align: center;
}

button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #45A049; 
    color: #FFF; 
    border: none; 
    cursor: pointer; 
}

button:hover {
    background-color: #28982b;
}

button#resetButton {
    background-color: #f44336; 
}

button#resetButton:hover {
    background-color: #bb3026;
}